@model IEnumerable<DesdeBDD.Models.Oficina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineaDireccion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineaDireccion2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineaDireccion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineaDireccion2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoOficina">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoOficina">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoOficina">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
