@model Get_Post.Models.PreguntasModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PreguntasModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enunciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enunciado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPreguntaModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPreguntaModel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateAdd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
