@model IEnumerable<Get_Post.Models.PreguntasModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enunciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPreguntaModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAdd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enunciado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPreguntaModel.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAdd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
