@model IEnumerable<DesdeBDD.Models.Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoJefeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoOficinaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoJefeNavigation.CodigoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoOficinaNavigation.CodigoOficina)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoEmpleado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoEmpleado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
